<div class="px-5 text-center py-20">
    <h1 class="text-heading font-heading text-center">ABOUT</h1>
    <p class="text-md font-paragraph font-semibold">
        Hi! I'm Mckenzie, a developer specializing in solving problems using javascript, python, C++, and many more.
    </p>
</div>

<div class="flex justify-center py-10 px-2">
    <div class="w-full max-w-lg shadow-md p-2">
        <p class="text-paragraph font-paragraph text-justify indent-4 m-2">
            I work mainly on projects including web apps and desktop apps. In addition to my main projects, I make side projects including computer simulations and algorithm implementations.
        </p>
        <p class="text-paragraph font-paragraph text-justify indent-4 m-2">
            When I'm not writing code, I spend my free time learning other things.
        <p class="text-paragraph font-paragraph text-justify indent-4 m-2">
            I am also particularly interested in emerging technologies, such as quantum computing and other new technologies.
    </div>
</div>
<div class="px-5 text-center">
    <h1 class="text-subheading font-heading">Tech Stack</h1>
</div>
<div class="flex justify-center py-10 px-2">
    <div class="w-full max-w-lg grid grid-cols-2 sm:grid-cols-3 place-items-center py-3">
        <div class="rounded-md shadow-md h-20 w-36 flex justify-center items-center">
            <img class="h-16 w-32" src="https://www.vectorlogo.zone/logos/nodejs/nodejs-ar21.svg" alt="image description">
        </div>
        <div class="rounded-md shadow-md h-20 w-36 flex justify-center items-center">
            <img class="h-16 w-32" src="https://www.vectorlogo.zone/logos/mongodb/mongodb-ar21.svg" alt="image description">
        </div>
        <div class="rounded-md shadow-md h-20 w-36 flex justify-center items-center">
            <img class="h-16 w-32" src="https://www.vectorlogo.zone/logos/expressjs/expressjs-ar21.svg" alt="image description">
        </div>
        <div class="rounded-md shadow-md h-20 w-36 flex justify-center items-center">
            <img class="h-16 w-32" src="https://www.vectorlogo.zone/logos/djangoproject/djangoproject-ar21.svg" alt="image description">
        </div>
        <div class="rounded-md shadow-md h-20 w-36 flex justify-center items-center">
            <img class="h-16 w-32" src="https://www.vectorlogo.zone/logos/reactjs/reactjs-ar21.svg" alt="image description">
        </div>
        <div class="rounded-md shadow-md h-20 w-36 flex justify-center items-center">
            <img class="h-16 w-32" src="https://www.vectorlogo.zone/logos/tailwindcss/tailwindcss-ar21.svg" alt="image description">
        </div>
        <div class="rounded-md shadow-md h-20 w-36 flex justify-center items-center">
            <img class="h-16 w-32" src="https://www.vectorlogo.zone/logos/mysql/mysql-horizontal.svg" alt="image description">
        </div>
    </div>
</div>
<div class="px-5 text-center">
    <h1 class="text-subheading font-heading">Preferred Languages</h1>
</div>
<div class="flex justify-center py-10 px-2">
    <div class="w-full max-w-lg grid grid-cols-2 sm:grid-cols-3 place-items-center py-3">
        <div class="shadow-lg rounded-full h-14 w-16 flex justify-center items-center">
            <img class="h-12 w-12" src="https://www.svgrepo.com/show/452234/java.svg" alt="image description">
        </div>
        <div class="shadow-lg rounded-full h-16 w-16 flex justify-center items-center">
            <img class="h-12 w-12" src="https://www.svgrepo.com/show/373703/js.svg" alt="image description">
        </div>
        <div class="shadow-lg rounded-full h-16 w-16 flex justify-center items-center">
            <img class="h-12 w-12" src="https://www.svgrepo.com/show/452091/python.svg" alt="image description">
        </div>
        <div class="shadow-lg rounded-full h-16 w-16 flex justify-center items-center">
            <img class="h-12 w-12" src="https://www.svgrepo.com/show/353614/c-plusplus.svg" alt="image description">
        </div>
        <div class="shadow-lg rounded-full h-16 w-16 flex justify-center items-center">
            <img class="h-12 w-12" src="https://www.svgrepo.com/show/373482/c.svg" alt="image description">
        </div>
        <div class="shadow-lg rounded-full h-16 w-16 flex justify-center items-center">
            <img class="h-12 w-12" src="https://www.svgrepo.com/show/354302/rust.svg" alt="image description">
        </div>
        <div class="shadow-lg rounded-full h-16 w-16 flex justify-center items-center">
            <img class="h-12 w-12" src="https://www.svgrepo.com/show/353622/c-sharp.svg" alt="image description">
        </div>
        <div class="shadow-lg rounded-full h-16 w-16 flex justify-center items-center">
            <img class="h-12 w-12" src="https://www.svgrepo.com/show/374144/typescript.svg" alt="image description">
        </div>
        <div class="shadow-lg rounded-full h-16 w-16 flex justify-center items-center">
            <img class="h-12 w-12" src="https://www.svgrepo.com/show/373632/go.svg" alt="image description">
        </div>
    </div>
</div>