<div class="px-5 flex justify-center py-20">
  <div class="text-center">
      <h1 id="hello" class="text-heading font-heading text-center animate__animated animate__jello">Hello!</h1>
      <a href="/about" class="link text-paragraph font-heading">About me</a>
  </div>
</div>

<div class="px-5 flex justify-center text-center">
  <div>
    <h5 class="font-heading text-subheading">Here are some of my projects</h5>
    <ul class="menu menu-vertical">
      <li><a href="/other/prime-test">Primality Test</a></li>
        <li><a href="/other/flocking-simulation">Flocking simulation</a></li>
    </ul>
  </div>
</div>