<div class="flex justify-center pt-4 gap-2">
    <button onclick="Restart()" class="btn" id>Restart</button>
</div>

<div id="mainCanvas" class="flex justify-center py-2">
    <!-- P5.JS CANVAS GOES HERE -->
</div>